# Node modules folder
node_modules/

# Build output folder
dist/
build/

# Environment variable files
.env

# Firebase config files (optional if sensitive)
firebase.json
.firebaserc

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
